.AddSheetMusicPopup{
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 10px;
    position: absolute;
}

.submit{
    background-color: lightgreen;
    margin: 5px;
}